/* Div main body's */
@media only screen and (max-width: 800px) {
  div#body {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem !important;
  }
}
div#body {
  display: flex;
  margin-top: 3rem;
}

/* Profile wrapper styles */
@media only screen and (max-width: 800px) {
  div#body > #profile {
    padding-left: 1rem !important;
    padding-bottom: 2rem;
    flex-direction: row !important;
    gap: 1em !important;
    width: 100% !important;
  }
}
div#body > #profile {
  width: 23rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media only screen and (max-width: 800px) {
  .avatarUrl{
    width: 7rem !important;
    height: 7rem !important;
  }
  #picz > div.avatarUrl>img{
    width: 100% !important;
    border: 2px solid pink;
  }
  #aavi {
    width: 100% !important;
    height: 7rem !important;
    /* border: 2px solid red; */
  }
  .avatarPlaceholder {
    padding: 3.5rem !important;
    width: 70% !important;
  }
}
@media only screen and (max-width: 600px) {
.bnn{
  visibility: hidden;
  display: none;
}}

#aavi {
  width: 80%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.n {
  color: rgba(71, 57, 57, 0.6);
  font-size: 120%;
}
.bi-caret-down{
  position: relative;
  top: 0.25em;
}
.u_name {
  color: rgb(39, 37, 37);
  font-size: 160%;
}
.u_bio {
    font-size: 102%;
    color: #222;
  }
#profile > .avatar {
  display: flex;
  align-items: center;
}
.avatarPlaceholder {
  padding: 9rem;
  width: 80%;
  background: rgb(48, 41, 41);
  border-radius: 100%;
  border: none;
}
.avatarUrl{
  width: 18rem;
  height: 18rem;
}
img{
  border-radius: 100%;
  border: none;
  width: 100%;
  height: 100%;
}

#profile > .avatar > div:nth-child(2) {
  position: relative;
  background-color: white;
  margin-left: -0.98rem;
  padding: 0.4em;
  bottom: -2em;
  border-radius: 100%;
}

@media only screen and (max-width: 800px) {
  div#body > #repo {
    padding: 1em 1em;
  }
  .u_{
      padding: 0 !important;
  }
  .u_username {
    font-size: 114% !important;
    font-weight: 600 !important;
  }
  .b_wrapper {
    width: 100% !important;
    padding-top: 1.4rem !important;
  }
  .b_wrapper > div:nth-child(1) {
    width: 80% !important;
  }
}
div#body > #repo {
  flex-grow: 1;
}
header {
  display: flex;
  border-bottom: 0.6px solid rgba(139, 131, 131, 0.5);
  align-items: center;
  padding-bottom: 1.9rem;
  font-size: 92%;
  justify-content: flex-start;
  height: 1.4rem;
}
div#repo > header > div {
  /* border: 1px solid red; */
  display: flex;
  flex-basis: 30rem;
  align-items: center;
  height: 100%;
}
div#repo > header > div > #liner{
  display: flex;
  width: 100%;
  overflow-y: hidden;
  justify-content: space-around;
}


b {
  color: black;
}

div#repo > input {
  padding: 0.4rem 0.4em;
  border-radius: 5px;
  margin: 2rem 0.1em;
  width: 87%;
  border: 1px solid rgba(139, 131, 131, 0.5);
}
div#repo > input:focus,
div#repo > input:active {
  outline: none;
}

.u_{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding: 0 0.1rem 0.3em 0;
}
.u_username {
  color: rgb(53, 111, 219);
  font-size: 124%;
  font-weight: bold;
  width: 14.5rem;
  /* border: 1px solid red; */
}
.u_rateStar {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0.2em 0.4em;
  font-size: 80%;
}
.rateStar {
  border-radius: 3px;
  padding: 0.2em 0.4em;
  font-size: 99%;
  position: relative;
  bottom: 0.15em;
}
.po{
  position: relative;
  bottom: 0.084em;
}
.rateStar > i {
  display: inline-block;
  position: relative;
  bottom: 0.1em;
  font-size: 120%;
}

.b_wrapper {
  border-top: 1px solid rgba(97, 94, 94, 0.4);
  width: 90%;
  padding-top: 1.3rem;
}
.b_wrapper > div:nth-child(1) {
  border-bottom: 1px solid rgba(97, 94, 94, 0.4);
  width: 50%;
  padding-bottom: 1.2rem;
}

/* seach input strugg; */

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  /* width: 17rem; */
  flex-wrap: wrap;
}
#error{
  flex-basis: 15rem;
  min-height: 1.4rem;
  color: rgba(226, 25, 25, 0.6);
  transition-property: color;   
  transition-duration: 3s;
}

#error:hover{
  color: rgb(20, 7, 7);
}
#inputSearch {
  border: 1px solid grey;
  border-radius: 4px;
  /* width: 11rem; */
  background-color: transparent;
  display: inline-block;
  height: 2rem;
  padding-left: 1rem;
  font-size: 1rem;
}
#inputSearch::placeholder {
  font-size: 1rem;
}

#startSearch{
  background-color: rgba(42, 42, 180, 0.7);
  border: none;
  /* width: 4rem; */
  margin-left: 0.2em;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  font-size: 0.7rem;
  padding: 0.5em 0.7em;
}

#smallImg{
  width: 1rem;
  height: 1rem;
}
