html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: #444;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
div.sekxWrapper > div#header{
background-color: #262b31;
color: #fff;
}

div#header > nav{
    height: 4rem;
    display: flex;
    margin: auto 1rem;
    font-size: 90%;
}
nav>div{
    align-self: center;
}

nav > div:nth-child(1) {
  flex-basis: 20rem;
   margin-right: 1rem;
}
nav > div:nth-child(1) > #brand {
    font-size: 2.2rem;
    position: relative;
    bottom: 0.2rem;
}

/* search input style */
@media only screen and (max-width: 700px) {
    nav > div:nth-child(1) > #input {
       visibility: hidden;
       display: none;
    }
}
nav > div:nth-child(1) > #input{
    width: 100%;
    height: 2rem;
}
nav > div:nth-child(1) > #input > label {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.10em 0.5em 0.1em 0.2em;
    margin-left: 0.8rem;
    width: 100%;
    height: 100%;
}

nav > div:nth-child(1) > #input > label > input{
    border: none;
    background-color: transparent;
    display: inline-block;
    height: 100%;
    width: 100%;
}
nav > div:nth-child(1) > #input > label > input::placeholder{
    color: white;
    font-size:110%;
}
nav > div:nth-child(1) > #input > label > input:focus,
nav > div:nth-child(1) > #input > label > input:active
{
    color: white;
    border: none;
    outline: none;
}


/* Navigation unordered list */
@media only screen and (max-width: 700px) {
    nav > div:nth-child(2) {
        display: none;
        visibility: hidden;
    }
}
nav > div:nth-child(2) {
    flex: 0 2 20rem;
}
nav> div:nth-child(2) > ul{
    display: flex;
    /* border: 2px solid red; */
    list-style: none;
    width: 100%;
    justify-content: space-around;
}


/* third in nav with bell icon and notification */
@media only screen and (max-width: 800px) {
    nav> div:nth-child(3){
        /* border: 2px solid red; */
        margin: 0;
        padding:0 !important;
        margin-left: auto;
    }
    .ntf{
        visibility: hidden;
        display: none !important;
        width: 0 !important;
    }
    .notification{
        margin-left: auto;
        /* border: 2px solid red;  */
    }
}
nav> div:nth-child(3){
    display: flex;
    color: #fff;
    /* border: 2px solid red; */
    margin: 0 1.5rem 0 auto;
    padding: 0 1em;
    gap: 10px;
}

.bi-caret-down{
    font-size: 70%;
    color: white;
}
.inline{
    display: inline-flex;
    align-items: center;
    /* border: 2px solid green; */
}

.notification{
display: flex;
}
.notification > div:nth-child(2) {
background-color:rgb(69, 57, 226) ;
border: 0.0001em solid rgb(73, 63, 214);
padding: 0.3em;
border-radius: 100%;
height: 0.2em;
width: 0.2em;
right: 0.5em;
position: relative;
}